[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-aiohttp = "*"

[dev-packages]
pytest-cov = "*"
pytest-mypy = "*"
pytest-flake8 = "*"
pytest-isort = "*"
pyyaml = "*"

[requires]
python_version = "3.6"
